@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 


*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
 }

body{

    
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
} 

img{

    height: 300px;
    width: 300px;
}

a{

    background-color: chartreuse;
    height: 100px;
    color: crimson;
    margin-top: 100px;
    justify-content: center;
    border-radius: 20%;
}